<h2>New app</h2>


<form action="<%= action %>" method="<%= method %>" accept-charset="utf-8">
  <fieldset>
    <label for='name'>App Name</label>
    <input type="text" name="name" value="" id="name" size="35">

    <input type="submit" value="Create It">
  </fieldset>
</form>